#root {
  font-family: system-ui;
}

.navbar {
  display: block;
  background: #a14747;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  text-align: center;
  color: #a14747;
}

.card {
  transition: all 0.5s;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.08);
}

.card:hover .card-img{
  filter: brightness(50%);
}

.like {
  cursor: pointer;
}